# haproxy.cfg

global
    log 127.0.0.1 local6 warning
    maxconn 20480
    ulimit-n 163840
    daemon
    nbproc  1
    chroot  /var/lib/haproxy
    pidfile /var/run/haproxy.pid
    user  haproxy
    group haproxy
    stats socket /var/lib/haproxy/stats1 mode 666 level admin process 1

    ca-base       /etc/pki/tls/certs 
    crt-base      /etc/pki/tls/private
    tune.ssl.cachesize         200000
    tune.ssl.lifetime          180
    tune.ssl.maxrecord         1460
    tune.ssl.default-dh-param  2048
ssl-default-bind-ciphers   ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS
    ssl-default-bind-options   no-sslv3 no-tls-tickets
    ssl-default-server-ciphers ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS
    ssl-default-server-options no-sslv3 no-tls-tickets
    ssl-server-verify          none

defaults
    mode    tcp
    option  tcplog  clf
    log     global
    timeout connect 3s
    timeout client  2m
    timeout server  2m
    retries 2
    option  redispatch 


### HTTP
frontend http_server
    bind    *:80
    default_backend http:server

backend http:server
    mode    http
    option  httplog clf
    option  httpchk
    option  log-health-checks
    option  forwardfor
    option  forceclose
    server  server 10.0.2.12:80 weight 50 check inter 5000 rise 2 fall 1
    errorfile 503 /etc/haproxy/errorfiles/503.html


### HTTPS
frontend https_server
    mode    http
    bind    *:443 #ssl crt /etc/pki/tls/private/xxx.jp.pem
    http-request add-header X_HTTPS on
    default_backend http:deliver

# haproxy stats
listen haproxy.stats
    bind {{ private_ip }}:1993
    mode http
    stats enable
    stats uri /
    stats auth xxx:xxx
